body{

    font-family:  'Roboto',sans-serif;
   
    background-color:#fff;
}
h1,
h2,
h3,
p,
ul{
    margin: 0;
    padding: 0;
   
}

:root{
    --black: #212121;
    --white:#FFFFFF;
    --grey: #757575;
    --blue:#2196F3;
    --black-grey: #2F303A;

    --presentation-set: 30px;
}

li{
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}
.section-footer{
    padding-top: 60px;
    padding-bottom: 60px;
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

/* Header */



.container{
 width: 1200px;
 margin: 0 auto ;
 padding-left: 15px;
 padding-right: 15px;
 
 } 

 .header{
    border-bottom:  1px solid #ECECEC ;
 }
 
.web-studio{
   
    display: block;
    padding-top: 25px;
    padding-bottom: 24px;

    margin-right: 93px;
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height:1.19;
    color: var(--black);
    text-decoration: none;

   
  
}

.web{
    color: var(--blue);
}


  
 .site-nav{
     display: flex;
    
 }

 .main-nav{
    display: flex;
    align-items: center;
}

  
   /* очищает крайнюю геометрию */
  
   .item:last-child{
    margin-right: 0;
}

  
.text-studio{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

   
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--blue);
  
    text-decoration: none;
}

.text-portfolio{
    
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
   
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--black);

    text-decoration: none;

}

.text-portfolio:hover,
.text-portfolio:focus
{
    color: var(--blue);
}
.contacts{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
 
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--black);

    text-decoration: none;
}
   
   .contacts:hover,
   .contacts:focus
   {
    color: var(--blue);
   }
  /* contacts-header */
 


  .contacts-header{
      display: flex;
      align-items: center;
      margin-left:  auto;
     
      
}

.tel-header{
    display: flex;
    align-items: center;
}

.item{
    margin-right: 50px;
}
  
   .icon-right {
    margin-right: 10px;
   }

   .mail-header{
       display: flex;
       align-items: center;
   }

   .mail-header:hover,
   .mail-header:focus
   {
    fill: var(--blue);
   }
   .mail-header:hover,
   .mail-header:focus
   {
    color: var(--blue);
   }

 .mail-header{
    
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    text-decoration: none;

    color:var(--grey);
}
    
   .tel-header{
        
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    
        text-decoration: none;
    
         color: var(--grey);
         
    }
    
    
    .tel-header:hover,
    .tel-header:focus
    {
        color: var(--blue);
    }
    

   .tel-header:hover, 
   .tel-header:focus
   {
       fill: currentColor;
   }

/* Page-1/index.html */

/* banner */
.banner{

padding-top: 200px;
padding-bottom: 200px;
background-image: radial-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
     url(../img/baground-hero/hero.jpg);
    
  /* max-width: 1600; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

 }

 .banner__text{
    
    font-size: 44px;
    font-weight: 900;
    line-height:1.36;
    text-align: center;
    text-transform: uppercase;
    
    color: var(--white);

}



.btn-text-banner{

 font-size: 16px;
  line-height: 1.87;
 
  cursor: pointer;
  color: var(--white);
  background: #2196F3;
  display: block;
  margin: auto;
  margin-top: 30px;
  /* text */
  padding: 10px 32px;

  /* btn */
   border-color: transparent;
   border-radius: 3px;

  
}

.btn-text-banner:hover, .btn-text-banner:focus
{
    background: #188CE8;
    color: var(--white);
    
}
/* /banner */

/* feature */

.section.section-features{
    padding-top: 94px;
    padding-bottom: 0px;
}

.features-icon{
    display: flex;
}

.item-icon{
   width: 270px;
   height: 120px;
   margin-right: 30px;
   
   background-color:#F5F4FA;
   border-radius: 4px;
   margin-bottom: 30px;
   
 }

.icons-features{
  margin-left: 100px;
  margin-top: 25px;
}


.features{
    display: flex;
}

.description-item{
    margin-right: 30px;
    width: 270px;
   
}

.description-item:last-child{
    margin-right: 0;
    
}

.inner-content{
    background:  #F5F4FA;
}

.text-features{
   
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--black);

   }

.description{
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;

    letter-spacing: 0.03em;

    color: var(--grey);

    margin-top: 10px;
}




.technology{
    margin-bottom: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    
    letter-spacing: 0.03em;

    color: var(--black);
}

.section.section-inner{
    padding-top: 0px;
}

.item-technology:last-child{
    margin-right: 0;
}

.img-technology{
    display: block;
}

.technology-inner{
    display: flex;
   

}

.item-technology{

margin-right: 30px;
}



/* /feature */



.inner-team{
    display: flex;
    
}

.inner-team .team{
    margin-right: 30px;
    background-color: #ffff;
    border-radius: 5px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}


.team:last-child{
    margin-right: 0px;
   
}


.team-card{
    display: block;

    
}

.our-team{
   
  margin-bottom: 50px;
   font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;

   
}


.name-developer{

  margin-bottom: 10px;
  
   width: 270px;
   
   font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--black);
   
}

.item-work{
    padding-top: 30px;
    padding-bottom: 30px;
    
}

.position{
    
  font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.03em;

     color: var(--grey);

     margin-bottom: 16px;
}


.social-set{
    display: flex;
    justify-content: center;
}

.item-socials{
    fill: #AFB1B8;
}

.item-social{
    margin-right: 10px;
    width: 44px;
    height: 44px;

}

.item-social:last-child{
    margin-right: 0;
}


.social-link{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color:#ffffff;
}

.social-link:hover,
.social-link:focus
{
    background-color: var(--blue);
   
}

.social-link:hover .item-socials,
.social-link:focus .item-socials
{
 
  fill:var(--white);
  
}


/* Claients
============= */
.clients{
    display: flex;
   
}



.item-clients{
    margin-right: 30px;
    width: 170px;
    height: 92px;
   
   
}
.link-company{
    display: block;
    width: 100%;
    height: 100%;
   align-items: center;
    border: solid 1px #AFB1B8;
    border-radius: 4px;
    cursor: pointer;
}



.icon-company{
    margin-left: 32px;
    margin-top: 16px;
    fill:  #AFB1B8;    
   }

   .link-company:hover,
   .link-company:focus
   {
       border: solid 1px #2196F3;
   }
  
   .link-company:hover,
   .link-company:focus
   {
       fill: border solid 1px #2196F3;
   }


   .link-company:hover .icon-company,
   .link-company:focus .icon-company
   {
       fill:#2196F3
   }
  
.item-clients:last-child{
    margin-right: 0px;
}








/* /Team Work */
/* page-1/index.html */

.footer{
  background: var( --black-grey);
}

.web-studio-footer{
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height:1.19;
   
    color: var(--white);
    text-decoration: none;
    
    display: block;

    padding-bottom: 20px;
  
}



.address{

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.16;
    letter-spacing: 0.03em;

    text-decoration: none;

    color: var(--white);
  
}




.inner-address{
    
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.16;
    letter-spacing: 0.03em;

    text-decoration: none;

    color: var(--white);
}
.mail-footer{
     display: block;

    margin-top: 9px;

   text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

}

.mail-footer:hover
.mail-footer:focus
{
  color: var(--white);
}


.tel-footer{
    display: block;
    margin-top: 9px;
    
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height:1.71;
   text-decoration: none;
   letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

}

.tel-footer:hover
.tel-footer:focus
{

    color: var(--white);
}

.title-icons{
font-weight: bold;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
margin-left: 70px;
padding-bottom: 20px;


}

.inner-footer-social{
    display: flex;
    margin-left: 70px;
  
 
}




.main-footer{
    display: flex;
    /* align-items: baseline; */
    
}



.icon-social{
    fill: #ffff;
}

.item-footer-social{
    margin-right: 10px;
    width: 44px;
    height: 44px;
   
}

.footer-social{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);


}

.footer-social:hover,
.footer-social:focus
{
    background-color: var(--blue);
}

.item-footer-social:last-child{
    margin-right: 0;
}





/* Page-2 /Portfolio.html */


.text-portfolio-page-second{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
   
   
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--blue);
    text-decoration: none;
}



.text-studio-page-second{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

   
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--black);
  
    text-decoration: none;
}


.text-studio-page-second:hover,
.text-studio-page-second:focus
{
    color: var(--blue);
}

/* Buttons
========= */
.buttons-group{
 display: flex;
 
 margin-bottom: 50px;
 
}


.section .btn-section{
    padding-top: 94px;
    padding-bottom: 0px;
}

 .btn-item{

 margin-left:8px;
 justify-content: center;

}



.btn-item:last-child{
    margin-left: 8px;
}

 .btn-item:first-child{
     margin-left: 0px;
 }

 
.btn-all{
    background: var(--blue);
    border-radius: 4px;
    padding: 6px 22px;
    border: transparent;
/* Text */

font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
text-align: center;
letter-spacing: 0.03em;
color: var(--white);
}

.btn-all:hover,
.btn-all:focus{
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
  }

.buttons{
    background:  #F5F4FA;
    border-radius: 4px;
    cursor: pointer;
    padding: 6px 22px;

    border: transparent;


    /* Text */

    
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;

    letter-spacing: 0.03em;

    color: var(--black);
}

.buttons:hover,
.buttons:focus
{
color: var(--white);
background: var(--blue);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}

/* Presentation/ Portfolio 
================= */
.presentation{
  
display: flex;
flex-wrap: wrap;


margin-left: calc(-1 * var(--presentation-set));
margin-top: calc(-1 * var(--presentation-set));




/* padding-bottom: 94px; */
}

.presintation-item{
   
   flex-basis: calc(100% /  var(--presentation-set) );

   margin-left: var(--presentation-set);
   margin-top:   var(--presentation-set);
 

  
}

.presintation-item:hover{
 box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

    
  
.inner-text-present{
     padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;

    
    border: 1px solid #EEEEEE; 

    border-top: 1px solid  #EEEEEE;
    
}


.text-heading-present{
 
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.06em;
     
     color: var(--black);
}

    .cards-portfolio{
        display: block;
    }
.discription-text-present{


   font-style: normal;
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    
    color: var(--grey);

     margin-top: 4px; 


    

    
}

.link-presentation{
 text-decoration: none;
   width: 370px;
  
}


